@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply dark:bg-black dark:text-white;
    padding: 0;
    margin: 0;
    font-family: KaTeX_Main, serif;
}

a {
    @apply text-blue-500 dark:text-blue-300 hover:underline;
    text-decoration: none;
}

.button {
    transition: all 0.2s ease-in-out;
    border: 1px solid #dddddd;
}

.button:hover {
    background-color: #f4f4f4;
}

* {
    box-sizing: border-box;
}

.slide-in {
    opacity: 0;
}

.katex-display {
    margin: 0 !important;
}

@media (prefers-color-scheme: dark) {
    .button {
        border: 1px solid #595959;
    }

    .button:hover {
        background-color: #222222;
    }
}
